<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wu.material">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.NoActionBar">

        <!--兼容6.0 网络问题-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--兼容10.0 文件访问问题-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wu.material.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_files"
                tools:replace="android:resource" />
        </provider>


        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.motionlayout.MothionLayoutDemo1Activity"/>
        <activity android:name=".activity.motionlayout.MothionImageFilterViewActivity"/>
        <activity android:name=".activity.motionlayout.MothionKeysetActivity"/>
        <activity android:name=".activity.motionlayout.CoordinatorLayoutActivity"/>
        <activity android:name=".activity.motionlayout.CoordinatorLayout2Activity"/>
        <activity android:name=".activity.motionlayout.SidePanelActivity"/>
        <activity android:name=".activity.motionlayout.DrawerLayoutActivity"/>
        <activity android:name=".activity.motionlayout.ViewPagerActivity"/>
        <activity android:name=".activity.motionlayout.SearchLayoutActivity"/>
        <activity android:name=".activity.motionlayout.EntranceActivity"/>
        <activity android:name=".activity.motionlayout.CarouselActivity"/>
        <activity android:name=".activity.motionlayout.Carousel2Activity"/>
        <activity android:name=".activity.motionlayout.MothionBallActivity"/>
        <activity android:name=".activity.motionlayout.MothionKeyCycleActivity"/>
        <activity android:name=".activity.motionlayout.MotionLayoutDemoActivity"/>
        <activity android:name=".activity.constraint.ConstraintLayoutDemoActivity"/>
        <activity android:name=".activity.rv.RecyclerViewActivity"/>
        <activity android:name=".activity.rv.ComplicatedRecyclerViewActivity"/>
        <activity android:name=".activity.rv.StaggeredGridLayoutManagerActivity"/>
        <activity android:name=".activity.rv.RecyclerTreeViewActivity"/>
        <activity android:name=".activity.livedata.LiveDataActivity"/>
        <activity android:name=".activity.CoroutinesActivity"/>
        <activity android:name=".activity.LazyLoadingFragmentActivity"/>
        <activity android:name=".activity.LazyLoadingFragmentActivity2"/>
    </application>

</manifest>