<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wu.material">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MaterialBadgeDrawableActivity"/>
        <activity android:name=".activity.MothionLayoutDemo1Activity"/>
        <activity android:name=".activity.MothionImageFilterViewActivity"/>
        <activity android:name=".activity.MothionKeysetActivity"/>
        <activity android:name=".activity.CoordinatorLayoutActivity"/>
        <activity android:name=".activity.CoordinatorLayout2Activity"/>
        <activity android:name=".activity.SidePanelActivity"/>
        <activity android:name=".activity.DrawerLayoutActivity"/>
        <activity android:name=".activity.ViewPagerActivity"/>
        <activity android:name=".activity.SearchLayoutActivity"/>
        <activity android:name=".activity.EntranceActivity"/>
    </application>

</manifest>