<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wu.material">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.MaterialApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.NoActionBar">
        <!--兼容6.0 网络问题-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--兼容10.0 文件访问问题-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wu.material.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_files"
                tools:replace="android:resource" />
        </provider>

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dsp17CwMgtbId87kX9NWz39XEDSviCrg" />
        <!-- 定位配置 -->
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.motionlayout.MothionLayoutDemo1Activity"/>
        <activity android:name=".activity.motionlayout.MothionImageFilterViewActivity"/>
        <activity android:name=".activity.motionlayout.MothionKeysetActivity"/>
        <activity android:name=".activity.motionlayout.CoordinatorLayoutActivity"/>
        <activity android:name=".activity.motionlayout.CoordinatorLayout2Activity"/>
        <activity android:name=".activity.motionlayout.SidePanelActivity"/>
        <activity android:name=".activity.motionlayout.DrawerLayoutActivity"/>
        <activity android:name=".activity.motionlayout.ViewPagerActivity"/>
        <activity android:name=".activity.motionlayout.SearchLayoutActivity"/>
        <activity android:name=".activity.motionlayout.EntranceActivity"/>
        <activity android:name=".activity.motionlayout.CarouselActivity"/>
        <activity android:name=".activity.motionlayout.Carousel2Activity"/>
        <activity android:name=".activity.motionlayout.MothionBallActivity"/>
        <activity android:name=".activity.motionlayout.MothionKeyCycleActivity"/>
        <activity android:name=".activity.motionlayout.MotionLayoutDemoActivity"/>
        <activity android:name=".activity.constraint.ConstraintLayoutDemoActivity"/>
        <activity android:name=".activity.rv.RecyclerViewActivity"/>
        <activity android:name=".activity.rv.ComplicatedRecyclerViewActivity"/>
        <activity android:name=".activity.rv.RecyclerHomeActivityActivity"/>
        <activity android:name=".activity.rv.StaggeredGridLayoutManagerActivity"/>
        <activity android:name=".activity.rv.RecyclerTreeViewActivity"/>
        <activity android:name=".activity.livedata.LiveDataActivity"/>
        <activity android:name=".activity.CoroutinesActivity"/>
        <activity android:name=".activity.lazy.LazyLoadingFragmentActivity"/>
        <activity android:name=".activity.lazy.LazyLoadingFragmentActivity2"/>
        <activity android:name="com.wu.material.activity.other.bdmap.MaterialMapActivity"/>
        <activity android:name=".activity.other.OtherActivity"/>
        <activity android:name=".activity.other.mmkv.MMKVActivity"/>
        <activity android:name=".activity.MediaPlayerActivity"/>
        <activity android:name=".activity.DragAndDropActivity"/>
    </application>

</manifest>